$desktop: 1200px;

$white: #FFF;
$darkViolet: #3A3054;

$greyBgColor: #F2F2F2;
$whiteBgColor: $white;
$descriptionTextColor: #9E9AA8;
$svgBgColor: $darkViolet;

$btnBgMainColor: #2BD0D0;
$btnTextColor: $white;
$btnHoveredBgColor: #9AE3E3;
$btnClickedBgColor: $darkViolet;
